<form class="my-5">
  <div class="grid grid-cols-3 gap-4 px-5">
    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="Company Name "
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="Start Date"
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="End Date"
    />
  
  </div>
  <div>
    <div class=" tracking-wide relative z-50 mt-4">
      <section class="text-white p-4 bg-[#4EBA6333]">
        <p class="text-secondary fw-500">Works Details</p>
      </section>
      <div class="grid grid-cols-3 gap-4 p-5">
       
      </div>
    </div>
  </div>

  <div>
    <div class=" tracking-wide relative z-50 mt-4">
      <section class="text-white p-4 bg-[#4EBA6333]">
        <p class="text-secondary fw-500">Languages</p>
      </section>
      <div class="grid grid-cols-3 gap-4 p-5">
       
      </div>
    </div>
  </div>

  <div></div>
</form>
