<form class="my-5">
  <div class="grid grid-cols-3 gap-4 px-5">
    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="Building Number"
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="Secondary Number"
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter your name"
      label="Postal Code "
    />
    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter name"
      label="Street"
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter name"
      label="District"
    />

    <app-input
      classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
      placeholder="Enter name"
      label="City"
    />
  </div>
  <div>
    <div class=" tracking-wide relative z-50 mt-4">
      <section class="text-white p-4 bg-[#4EBA6333]">
        <p class="text-secondary fw-500">Educational Details</p>
      </section>
      <div class="grid grid-cols-3 gap-4 p-5">
        <app-input
          classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
          placeholder="Enter your name"
          label="Academic\qualifications/courses"
        />

        <app-input
          classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
          placeholder="Enter your name"
          label="Specialit"
        />

        <app-input
          classNames="border-[#EFF0F6] min-h-[50px] p-2 rounded"
          placeholder="Enter your name"
          label="End Date "
        />
      </div>
    </div>
  </div>

  <div></div>
</form>
